<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img
      src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fanimatedgifs.a.n.pic.centerblog.net%2Fo%2F703e8179.jpg&f=1"
      alt=""
    />
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li *ngFor="let prenom of prenoms">{{ prenom }}</li>
      </ul>
      <ul>
        <li>
          <a [routerLink]="['/telephone']">Lien vers le téléphone</a>
        </li>
        <li>
          <a [routerLink]="['/formulaire']">Lien vers le formulaire</a>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
