<ion-header>
  <ion-toolbar>
    <ion-title>formulaire</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #f="ngForm" (ngSubmit)="ajouter(f)" novalidate>
        <ion-item>
            <ion-label color="primary" position="floating">Prenom</ion-label>
            <ion-input type="text" ngModel required name="prenom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="floating">Name</ion-label>
            <ion-input type="text" ngModel required name="nom"></ion-input>
        </ion-item>
        <ion-button type="submit">Submit</ion-button>
    </form>
</ion-content>
