<ion-header>
  <ion-toolbar>
    <ion-title>addTask</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="addTask(f)" novalidate>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input name="name" ngModel required #first="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input name="description" ngModel required #first="ngModel"></ion-input>
    </ion-item>
    <ion-button type="submit">Submit</ion-button>
  </form>
</ion-content>
