<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>telephone</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="'/home'" icon="home" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <a [routerLink]="['/home']">Lien vers le home</a> -->

</ion-content>
