<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="tasks" >
        <ion-item [routerLink]="['/update-task', task[0]]" *ngFor="let task of tasks; let id = index;">
          <ion-label> {{ task[1].name }} </ion-label>
        </ion-item>
      </ion-list>
      <ion-buttons class="add-button">
          <ion-button [routerLink]="['/add-task']">
            <ion-icon icon-only icon="add-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
</ion-content>
