<ion-header>
  <ion-toolbar>
    <ion-title>updateTask</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="updateTask(f)" novalidate>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input name="name" [ngModel]="task.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input
        name="description"
        [ngModel]="task.description"
        required
      ></ion-input>
    </ion-item>

    <ion-button type="submit">
      <ion-icon name="send"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="deleteTask()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </form>
</ion-content>
